* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(230, 230, 230);
}

button {
    width: 100%;
    padding: 7px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: rgb(16, 151, 234);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    font-weight: 600;
}

h2 {
    font-size: 42px;
}

main {
    height: 100%;
    width: 100%;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-container {
    display: grid;
    gap: 1em;
    padding: 15px;
    background-color: white;
    border-radius: 6px;
    max-width: 400px;
}

form {
    display: grid;
    gap: 1em;
    width: 100%;
}

form .form-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-control label {
    font-size: 15px;
    font-weight: 500;
}

.form-control input {
    background-color: rgb(241, 241, 241);
    border: none;
    padding: 6px;
    border-radius: 6px;
    color: black;
    font-size: 14px;
    outline: none;
    transition: all ease-in-out 0.2s;
}

.form-control input:focus{
    outline: solid 1.5px rgb(16, 151, 234);
}

@media (max-width: 425px) {
    .card-container{
        width: 100%;
        margin: 0px 15px;
    }
}